
{% extends "base.html" %}

{% block title %}
    Admin Panel
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<main class="container mb-3">
    <h2 class="text-center">Admin panel</h2>

    <h3>Konta użytkowników do testowania</h3>
    <table class="table mt-4 table-hover text-dark bg-light">
        <thead>
            <tr>
                <th>Login</th>
                <th>Hasło</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin</td>
                <td>admin</td>
            </tr>
            <tr>
                <td>test1</td>
                <td>haslo12345</td>
            </tr>
            <tr>
                <td>test2</td>
                <td>haslo12345</td>
            </tr>
            <tr>
                <td>test3</td>
                <td>haslo12345</td>
            </tr>
        </tbody>
    </table>

    {% csrf_token %}

    <button id="delete-button" class="btn btn-danger">Wyczyść wszystkie dane użytkowników</button>

</main>

<script>
    document.querySelector('#delete-button').addEventListener('click', function() {
        let csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url 'shop:admin' %}', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrf_token);
        xhr.onload = function() {
            if (xhr.status === 200) {
                location.reload();
            }
        };
        xhr.onerror = function() {
        };
        xhr.send();

    });
</script>

{% endblock %}
